.container {
  width: 50%;  
  padding: 00.2em;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
  box-shadow: 6px 6px 0px -2px rgba(232,224,217,0.41);
  cursor: pointer;
  transition: transform 250ms ease-in;
}

.video:hover {
  transform: scale(1.02);
}
.metadata {
  margin-left: 0.2em;
}
.thumbnail {
  width: 40%;
  height: 100%;
}

.title,
.channel {
  margin: 0;
  font-size: 0.8rem;
}

.channel {
  font-size: 0.6rem;
}